<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="topic">
    <resultMap id="RM_Topic" type="_Topic">
        <id property="id" column="tid" />
        <result property="title" column="ttile"/>
        <result property="content" column="tcontent"/>
        <result property="createTime" column="tcreatetime"/>
        <result property="replyCount" column="replyCount"/>
        <association property="user" javaType="_User">
            <id property="id" column="uid"/>
            <result property="name" column="uname"/>
        </association>
    </resultMap>

    <select id="selectAll" resultMap="RM_Topic">
        SELECT
          t.id tid,
          t.title ttile,
          (SELECT count(*)
           FROM reply r
           WHERE r.topicid = t.id) replycount,
          u.id uid,
          u.name uname,
          t.content tcontent,
          t.createtime tcreatetime
        FROM topic t
          LEFT OUTER JOIN sys_user u ON t.userid = u.id
    </select>

    <select id="selectOne" parameterType="int" resultMap="RM_Topic">
       SELECT
          t.id tid,
          t.title ttile,
          u.id uid,
          u.name uname,
          t.content tcontent,
          t.createtime tcreatetime
        FROM topic t
        LEFT OUTER JOIN sys_user u ON t.userid = u.id
        WHERE t.id = #{id}
    </select>

    <insert id="insert" parameterType="_Topic">
        INSERT INTO topic(
        id,
        userid,
        title,
        content,
        createtime)
        VALUES (
        #{id},
        #{user.id},
        #{title},
        #{content},
        #{createTime})
    </insert>


</mapper>