<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="cn.edu.hyit.seppms.domain.User" alias="_User"/>
        <typeAlias type="cn.edu.hyit.seppms.domain.Role" alias="_Role"/>
        <typeAlias type="cn.edu.hyit.seppms.domain.Order" alias="_Order"/>
        <typeAlias type="cn.edu.hyit.seppms.domain.Item" alias="_Item"/>

    </typeAliases>

    <mappers>
        <mapper resource="UserMapper.xml"/>
        <mapper resource="OrderMapper.xml"/>
        <mapper resource="ItemMapper.xml"/>
        <mapper resource="RoleMapper.xml"/>
    </mappers>
</configuration>